body {
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 18px;
  overflow-x: hidden;
}
@media (max-width:1400px) {
  html,
  body {
    overflow-x: hidden;
  }
}

a {
  transition: all 0.3s ease;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}
button:focus {
  outline: none;
}

p {
  color: #666;
  line-height: 1.9;
}

.tm-title-gray {
  color: #666;
}
@media (max-width:1400px) {
  .tm-title-gray {
    text-align: left;
    margin-left: -90px;
    
  }
}
.tm-title-gray5 {
  color: #666;
}
@media (max-width:1400px) {
  .tm-title-gray5 {
    text-align: left;
    margin-left: -75px;
    
  }
}
@media (max-width:1400px) {
  .card-img-top {
    padding-right: 95px;
    margin-bottom: 15px;
    display: none;
  }
}
@media (max-width:1400px) {
  .card {
 
    display: none;
  }
}
@media (max-width:1400px) {
  .sp4 {
 
    margin-left: 15px;
  }
}
.card-img-top1 {
  display: none;
}
@media (max-width:1400px) {
  .card-img-top1 {
    height: 250px;
    width: 320px;
    display: unset;
    margin-bottom: 5px;
    margin-top: 5px;
  }
}
.tm-title3-gray {
  color: #666;
}
@media (max-width:1400px) {
  .tm-title3-gray {
    text-align: left;
    margin-left: 0px;
  }
}
.tm-title1-gray {
  color: #666;
}
@media (max-width:1400px) {
  .tm-title1-gray {
    text-align: left;
    margin-left: -5px;
  }
}
.tm-title2-gray {
  color: #666;
}
@media (max-width:1400px) {
  .tm-title2-gray {
    text-align: left;
    margin-left: -100px;
  }
}
@media (max-width:1400px) {
  .abc {
    
  }
}



.tm-hr {
  width: 240px;
  border-top: 3px solid #0099ff;
  margin: 0;
}
@media (max-width:1400px) {
  .tm-hr {
    text-align: left;
    margin-left: -60px;
  }
}
.tm-hr1 {
  width: 240px;
  border-top: 3px solid #0099ff;
  margin: 0;
  width: 23%;
}
@media (max-width:1400px) {
  .tm-hr1 {
    text-align: left;
    margin-left: -5px;
    width: 57%;
  }
}
.tm-hr3 {
  width: 240px;
  border-top: 3px solid #0099ff;
  margin: 0;
}
@media (max-width:1400px) {
  .tm-hr3 {
    text-align: left;
    margin-left: -100px;
  }
}
.tm-hr4 {
  width: 240px;
  border-top: 3px solid #0099ff;
  margin: 0;
}
@media (max-width:1400px) {
  .tm-hr4 {
    text-align: left;
    margin-left: -75px;
    width: 60%;
  }
}


.tm-hr5 {
  width: 180px;
  border-top: 3px solid #0099ff;
  margin: 0;
}
@media (max-width:1400px) {
  .tm-hr5 {
    text-align: left;
    margin-left: -90px;
    width: 80%;
  }
}
.a1 {
  
}
@media (max-width:1400px) {
  .a1 {
    text-align: left;
    margin-left: -23px;
    width: 325px;
  }
}

tm-thr {
  width: 240px;
  border-top: 3px solid #0099ff;
  margin: 0;
}
@media (max-width:1400px) {
  .tm-thr {
    text-align: left;
    margin-left: 25px;
    
  }
}
tm-thr1 {
  width: 240px;
  border-top: 3px solid #0099ff;
  margin: 0;
}
@media (max-width:1400px) {
  .tm-thr1 {
    text-align: left;
    margin-left: 100px;
  }
}
tm-thr2 {
  
}
@media (max-width:1400px) {
  .tm-thr2 {
    width: 0px;
    height: 0px;
  }
}

.tm-hr-s {
  width: 140px;
}
.tm-box-bordered {
  border: 1px solid #9c9d9e;
}
.container-fluid {
  max-width: 1480px;
}
@media (max-width:1400px) {
  .container-fluid .tm-logo-text {
   
      position: absolute;
      top: 42%;
      left: 40%;
      transform: translate(-50%,-50%);
      width: 300px;
    
    
  }
}

.tm-logo {
  position: absolute;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #9c9d9e;
  width: 120px;
  height: 50px;
  padding: 37px 0px;
}

@media (max-width:1400px) {
  .tm-logo {
    left: 50%;
    margin-left: -200px;
    display: none;
  }
}

.extra-logo {
  display: none;
}

@media (max-width:1400px) {
  .extra-logo {
    display: block;
    top: 0;
    left: 0;
    z-index: 999;
  }
  .tm-extra-logo img {
    height: 60px;
    width: 100px;
    margin-left: 210px;
  }
}

.tm-logo-text {
  font-size: 2rem;
  color: white; 
  font-size: 30px; 
  font-weight: 900;
  
}
@media (max-width:1400px) {
  .tm-logo-text {
  font-size: 2rem;
  color: white; 
  font-size: 18px; 
  font-weight: 900;
  
  
  }
}

.tm-logo img {
  width: 160px;
  height: 70px;
}
#parallax-1 {
  min-height: 690px;
}
#parallax-2 {
  min-height: 590px;
}
#parallax-3 {
  min-height: 400px;
}

.parallax-window {
  background: transparent;
  position: relative;
}
@media (max-width:1400px) {
  .parallax-window {
    width: 425px;
    height: 200px;
  }
}

#tm-main-nav {
  padding: 0;
  z-index: 1000;
}

.tm-nav-container-outer {
  margin-top: 0px;
  border-top: 0px solid #cccdce;
  border-bottom: 1px solid #cccdce;
}
@media (max-width:1400px) {
  .tm-nav-container-outer {
    margin-top: 0px;
  border-top: 0px solid #cccdce;
  border-bottom: 1px solid #cccdce;
  margin-right: 280px;
  
  }
}
@media (max-width:1400px) {
  .fx1 {
    margin-left: 55px;
  position: fixed;
  }
}



.navbar-expand-lg .navbar-nav .nav-link {
  color: #6a6b6c;
  border-top: 0px solid transparent;
  border-bottom: 25px solid transparent;
  text-align: center;
  padding: 15px 49px;
  margin-right: 20px;
  text-transform: uppercase;
  font-size: 1.2rem;
  transition: all 0.3s ease;
}
@media (max-width:1400px) {
  .navbar-expand-lg .navbar-nav .nav-link {
    color: #6a6b6c;
    border-top: 0px solid transparent;
    border-bottom: 25px solid transparent;
    text-align: center;
    padding: 15px 49px;
    margin-right: 20px;
    text-transform: uppercase;
    font-size: 1rem;
    transition: all 0.3s ease;
  }
}

.nav-item.active .nav-link,
.nav-item:hover .nav-link {
  color: #0099ff;
  border-top: 8px solid #0099ff;
  border-bottom: 8px solid #0099ff;
}

.tm-intro {
  max-width: 580px;
  text-align: left;
}
@media (max-width:1400px) {
  .tm-intro {
    text-align: left;
    margin-left: -90px;
    width: 325px;
    margin-bottom: -60px;
    
  }
}
h4 {
  font-size: 1.5rem;
}
.tm-text-primary {
  color: #0099ff;
  margin-left: 10px;
}
@media (max-width:1400px) {
  .tm-text-primary {
    color: #0099ff;
    
    margin-left: 10px;
    
  }
}

.tm-text-primary5 {
  color: #0099ff;
  
}
@media (max-width:1400px) {
  .tm-text-primary5 {
    color: #0099ff;
    font-size: 20px;
    margin-left: -10px;
    
  }
}
.tm-th4{
  
}
@media (max-width:1400px) {
  .tm-th4 {
   
    margin-left: -40px;
  
 

  }
}
@media (max-width:1400px) {
  .postcard__text {
      margin-left: 20px;
      padding-top: 20px;
      padding-left: 2px;
  }
}
@media (max-width:1400px) {
  .tm-text-primary {
      margin-left: 3%;
      font-size: 20px;
  }
}
@media (max-width: 1400px) {
  .row {
      padding-left: 10%;
      padding-right: 10%;
      font-size: 10;
  }
}

.tm-text-primary-link {
  color: #0099ff;
}
.tm-text-primary-link:hover {
  color: rgb(15, 133, 211);
}

.tm-strategy-box {
  display: flex;
  align-items: flex-start;
}
@media (max-width:1400px) {
  .tm-strategy-box {
    text-align: left;
    margin-left: -80px;
    padding-top: 10px;
    width: 330px;
 

  }
}
.tm-services-box {
  display: flex;
  align-items: flex-start;
}


.tm-strategy-img {
  margin-right: 30px;
}
.tm-services-img {
  margin-right: 40px;
}
.tm-strategy-text {
  max-width: 480px;
  margin-left: 10px;
}
.mb-6 {
  margin-bottom: 120px;
}
.mb-7 {
  margin-bottom: 140px;
}
.mb-8 {
  margin-bottom: 80px;
}
.mb-60 {
  margin-bottom: 60px;
}
.mb-10 {
  margin-bottom: 100px;
}
.mb-25 {
  margin-bottom: 250px;
}
.mt-6 {
  margin-top: 90px;
}
.mt-7 {
  margin-top: 140px;
}
.tm-px-3 {
  padding-left: 30px;
  padding-right: 30px;
}

@media (min-width: 992px) {
  .pr-lg-5 {
    padding-right: 70px !important;
  }
}
@media (max-width: 1400px) {
  .tm-h3 {
    margin-left: -1px;
  }
}
@media (max-width: 1400px) {
  .sp1 {
    margin-bottom: 1px;
  }
}
@media (max-width: 1400px) {
  .sp2 {
    margin-top: -30px;
  }
}
@media (max-width: 1400px) {
  .sp3 {
 margin-top: -30px;
  }
}
@media (max-width:1400px) {
  .tm-bg-gray {
    background-color: #f2f2f2;
    width: 340px;
    margin-left: -18px;
    padding-left: 10px;
  }
}
.sp2 {
  margin-bottom: 50px;
}
.sp3 {
  margin-bottom: 50px;
}
.tm-text-gray {
  color: #666;
}
.tm-bg-gray {
  background-color: #f2f2f2;
}
.tm-bg-gray-dark {
  background-color: #edeeef;
}
.tm-bg-white {
  background-color: rgba(255, 255, 255, 0.6);
}
.tm-bg-black-transparent {
  background-color: rgba(0, 0, 0, 0.5);
}
.tm-box {
  padding: 30px;
}
.tm-box-2 {
  padding: 50px;
  max-width: 500px;
}
.tm-box-3 {
  padding: 70px 35px;
}
i {
  color: #abc;
}

.tm-overlay {
  max-width: 660px;
  padding: 75px 70px;
  
}
.tm-overlay1 {
  max-width: 660px;
  padding: 75px 70px;
 
}
@media (max-width:1400px) {
  .tm-overlay1 {
    max-width: 660px;
    padding:80px 20px;
    margin-top: 60px;
    margin-right: 30px;
    margin-left: 15px;
    
  }
}
@media (max-width:1400px) {
  .tm-center {
    max-width: 660px;
    padding: 75px 70px;
    margin-top: -130px;
  }
}


.parallax-window-2 {
  display: flex;
  align-items: center;
}

.btn {
  padding: 15px 50px;
  border-radius: 0;
  font-size: 1.2rem;
}
@media (max-width:1400px) {
  .btn {
    padding: 10px 30px;
    border-radius: 0;
    font-size: 1rem;
  }
}

.btn-primary {
  background-color: #0099ff;
  border-color: #0099ff;
}

.btn-primary:hover {
  background-color: #2f80d0;
  border-color: #2f80d0;
}

footer {
  margin-top: 70px;
  margin-bottom: 70px;
}

.tm-link-primary {
  color: #0099ff;
}
.tm-link-primary:hover {
  color: #2f80d0;
}
.fa-15x {
  font-size: 1.5em;
}

.tm-social-icon {
  width: 50px;
  height: 50px;
  margin-right: 15px;
}

.tm-social-icon-2 {
  width: 40px;
  height: 40px;
  margin-right: 10px;
  color: #fff;
}

.tm-social-link i {
  transition: all 0.3s ease;
}
.tm-social-link:hover i {
  color: #0099ff;
}

/* Hover effect */
.tm-about-person-layout {
  margin-bottom: 0;
  width: 100%;
  height: auto;
  max-width: 460px;
}

.tm-about-person {
  position: relative;
  overflow: hidden;
  max-height: 420px;
  background: #3085a3;
  text-align: center;
  cursor: pointer;
}

.tm-about-person img {
  position: relative;
  display: block;
  min-height: 100%;
  max-width: 100%;
  opacity: 0.8;
}

.tm-about-person figcaption {
  padding: 15px;
  color: #fff;
  font-size: 1.25em;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.tm-about-person figcaption::before,
.tm-about-person figcaption::after {
  pointer-events: none;
}

.tm-about-person figcaption,
.tm-about-person figcaption > a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* Anchor will cover the whole item by default */
/* For some effects it will show as a button */
.tm-about-person figcaption > a {
  z-index: 1000;
  text-indent: 200%;
  white-space: nowrap;
  font-size: 0;
  opacity: 0;
}

.tm-about-person h2 {
  font-weight: 300;
}
.tm-about-person h2 span {
  font-weight: 600;
}

.tm-about-person h2,
.tm-about-person p {
  margin: 0;
}

.tm-about-person p {
  letter-spacing: 1px;
  font-size: 68.5%;
  color: #fff;
}

/*---------------*/
/***** Milo *****/
/*---------------*/

figure.effect-milo {
  background: #2e5d5a;
}

figure.effect-milo img {
  max-width: none;
  width: -webkit-calc(100% + 60px);
  width: calc(100% + 60px);
  opacity: 1;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(-30px, 0, 0) scale(1.12);
  transform: translate3d(-30px, 0, 0) scale(1.12);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

figure.effect-milo:hover img {
  opacity: 0.5;
  -webkit-transform: translate3d(0, 0, 0) scale(1);
  transform: translate3d(0, 0, 0) scale(1);
}

figure.effect-milo h2 {
  font-size: 1.2rem;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 20px;
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(45, 92, 89, 0.5));
}

figure.effect-milo p {
  padding: 0 10px 0 0;
  border-right: 1px solid #fff;
  text-align: right;
  opacity: 0;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(-40px, 0, 0);
  transform: translate3d(-40px, 0, 0);
}

figure.effect-milo:hover p {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

/* Contact */
.mapouter {
  position: relative;
  text-align: right;
  height: 520px;
  width: 100%;
}

.gmap_canvas {
  overflow: hidden;
  background: none !important;
  height: 520px;
  width: 100%;
}

.tm-contact-form-box {
  max-width: 485px;
}
.tm-address-box {
  max-width: 860px;
}
.form-group {
  margin-bottom: 40px;
}

.form-control {
  font-size: 1em;
  border-radius: 0;
  padding: 14px 20px;
  height: auto;
}

select.form-control {
  height: 60px;
}

select:not([multiple]) {
  -webkit-appearance: none;
  -moz-appearance: none;
  background-position: right 15px center;
  background-repeat: no-repeat;
  background-image: url("../img/select-arrow.png");
  padding: 14px 20px;
  padding-right: 20px;
  color: #666;
}

#contactSelect {
  border-radius: 0;
}
.tm-address-text {
  max-width: 650px;
}

@media (max-width: 1400px) {
  .tm-box-3 {
    margin-bottom: 2rem;
  }
}

@media (min-width: 992px) and (max-width: 1400px) {
  .tm-services-img {
    width: 220px;
  }
}

@media (max-width: 1400px) {
  .navbar-toggler {
    position: absolute;
    right: 15px;
    top: -50px;
    background-color: white;
    padding: 10px 16px;
    font-size: 1.5rem;
    border-radius: 0;
  }

  .navbar-toggler i {
    color: #0099ff;
  }

  .navbar-collapse {
    position: fixed;
    right: 15px;
    top: 56px;
    background-color: white;
  }
  @media (max-width:1400px) {
    .navbar-collapse {
      position: fixed;
      right: 170px;
      top: 56px;
      background-color: white;
      width: 50%;
      margin-top: 4px;
      
    }
  }

  .navbar-expand-lg .navbar-nav .nav-link {
    margin-right: 0;
    margin-top: 3px;
    margin-bottom: 3px;
    padding: 8px 25px;
  }

  .tm-box {
    margin-bottom: 30px;
  }
  .tm-box-s {
    max-width: 480px;
  }
}

@media (max-width: 1400px) {
  .tm-services-box {
    flex-direction: column;
  }

  .tm-services-img {
    margin-right: 0;
    margin-bottom: 30px;
  }
}

@media (max-width: 1400px) {
  .tm-strategy-box {
    flex-direction: column;
  }

  .tm-strategy-img {
    margin-right: 0;
    margin-bottom: 30px;
  }
}
/* Cards */
.postcard {
  flex-wrap: wrap;
  display: flex;
  box-shadow: 0 4px 21px -12px rgba(0, 0, 0, 0.66);
  border-radius: 10px;
  margin: 0 0 2rem 0;
  overflow: hidden;
  position: relative;
  color: rgb(175, 174, 174) .t-dark {
    color: #18151f;
  }

  a {
    color: inherit;
  }

  h1,
  .h1 {
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.2;
  }

  .small {
    font-size: 80%;
  }

  .postcard__title {
    font-size: 1.75rem;
  }

  .postcard__img {
    max-height: 180px;
    width: 100%;
    object-fit: cover;
    position: relative;
  }

  .postcard__img_link {
    display: contents;
  }

  .postcard__bar {
    width: 50px;
    height: 10px;
    margin: 10px 0;
    border-radius: 5px;
    background-color: #424242;
    transition: width 0.2s ease;
  }

  .postcard__text {
    padding: 1.5rem;
    position: relative;
    display: flex;
    flex-direction: column;
  }

  .postcard__preview-txt {
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: justify;
    height: 100%;
  }

  .postcard__tagbox {
    display: flex;
    flex-flow: row wrap;
    font-size: 14px;
    margin: 20px 0 0 0;
    padding: 0;
    justify-content: center;

    .tag__item {
      display: inline-block;
      background: rgba(83, 83, 83, 0.4);
      border-radius: 3px;
      padding: 2.5px 10px;
      margin: 0 5px 5px 0;
      cursor: default;
      user-select: none;
      transition: background-color 0.3s;

      :hover {
        background: rgba(83, 83, 83, 0.8);
      }
    }
  }

  :before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(-70deg, #424242, transparent 50%);
    opacity: 1;
    border-radius: 10px;
  }

  :hover .postcard__bar {
    width: 100px;
  }
}

@media screen and (min-width: 769px) {
  .postcard {
    flex-wrap: inherit;

    .postcard__title {
      font-size: 2rem;
    }

    .postcard__tagbox {
      justify-content: start;
    }

    .postcard__img {
      max-width: 300px;
      max-height: 100%;
      transition: transform 0.3s ease;
    }

    .postcard__text {
      padding: 3rem;
      width: 100%;
    }

    .media.postcard__text:before {
      content: "";
      position: absolute;
      display: block;
      background: #18151f;
      top: -20%;
      height: 130%;
      width: 55px;
    }

    &:hover .postcard__img {
      transform: scale(1.1);
    }

    &:nth-child(2n + 1) {
      flex-direction: row;
    }

    &:nth-child(2n + 0) {
      flex-direction: row-reverse;
    }

    &:nth-child(2n + 1) .postcard__text::before {
      left: -12px !important;
      transform: rotate(4deg);
    }

    &:nth-child(2n + 0) .postcard__text::before {
      right: -12px !important;
      transform: rotate(-4deg);
    }
  }
}
@media screen and (min-width: 1024px) {
  .postcard__text {
    padding: 2rem 3.5rem;
  }

  .postcard__text:before {
    content: "";
    position: absolute;
    display: block;

    top: -20%;
    height: 130%;
    width: 55px;
  }

  .postcard.dark {
    .postcard__text:before {
      background: #18151f;
    }
  }
  .postcard.light {
    .postcard__text:before {
      background: #e1e5ea;
    }
  }
}

/* COLORS */
.postcard .postcard__tagbox .green.play:hover {
  background: $main-green;
  color: black;
}
.green .postcard__title:hover {
  color: $main-green;
}
.green .postcard__bar {
  background-color: $main-green;
}
.green::before {
  background-image: linear-gradient(
    -30deg,
    $main-green-rgb-015,
    transparent 50%
  );
}
.green:nth-child(2n)::before {
  background-image: linear-gradient(
    30deg,
    $main-green-rgb-015,
    transparent 50%
  );
}

.postcard .postcard__tagbox .blue.play:hover {
  background: $main-blue;
}
.blue .postcard__title:hover {
  color: $main-blue;
}
.blue .postcard__bar {
  background-color: $main-blue;
}
.blue::before {
  background-image: linear-gradient(
    -30deg,
    $main-blue-rgb-015,
    transparent 50%
  );
}
.blue:nth-child(2n)::before {
  background-image: linear-gradient(30deg, $main-blue-rgb-015, transparent 50%);
}

.postcard .postcard__tagbox .red.play:hover {
  background: $main-red;
}
.red .postcard__title:hover {
  color: $main-red;
}
.red .postcard__bar {
  background-color: $main-red;
}
.red::before {
  background-image: linear-gradient(-30deg, $main-red-rgb-015, transparent 50%);
}
.red:nth-child(2n)::before {
  background-image: linear-gradient(30deg, $main-red-rgb-015, transparent 50%);
}

.postcard .postcard__tagbox .yellow.play:hover {
  background: $main-yellow;
  color: black;
}
.yellow .postcard__title:hover {
  color: $main-yellow;
}
.yellow .postcard__bar {
  background-color: $main-yellow;
}
.yellow::before {
  background-image: linear-gradient(
    -30deg,
    $main-yellow-rgb-015,
    transparent 50%
  );
}
.yellow:nth-child(2n)::before {
  background-image: linear-gradient(
    30deg,
    $main-yellow-rgb-015,
    transparent 50%
  );
}

@media screen and (min-width: 769px) {
  .green::before {
    background-image: linear-gradient(
      -80deg,
      $main-green-rgb-015,
      transparent 50%
    );
  }
  .green:nth-child(2n)::before {
    background-image: linear-gradient(
      80deg,
      $main-green-rgb-015,
      transparent 50%
    );
  }

  .blue::before {
    background-image: linear-gradient(
      -80deg,
      $main-blue-rgb-015,
      transparent 50%
    );
  }
  .blue:nth-child(2n)::before {
    background-image: linear-gradient(
      80deg,
      $main-blue-rgb-015,
      transparent 50%
    );
  }

  .red::before {
    background-image: linear-gradient(
      -80deg,
      $main-red-rgb-015,
      transparent 50%
    );
  }
  .red:nth-child(2n)::before {
    background-image: linear-gradient(
      80deg,
      $main-red-rgb-015,
      transparent 50%
    );
  }

  .yellow::before {
    background-image: linear-gradient(
      -80deg,
      $main-yellow-rgb-015,
      transparent 50%
    );
  }
  .yellow:nth-child(2n)::before {
    background-image: linear-gradient(
      80deg,
      $main-yellow-rgb-015,
      transparent 50%
    );
  }
}

/* Join Us Page */

.section_our_solution .row {
  align-items: center;
}

.our_solution_category {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.our_solution_category .solution_cards_box {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.solution_cards_box .solution_card {
  flex: 0 50%;
  background: #fff;
  box-shadow: 0 2px 4px 0 rgba(136, 144, 195, 0.2),
    0 5px 15px 0 rgba(37, 44, 97, 0.15);
  border-radius: 15px;
  margin: 8px;
  padding: 10px 15px;
  position: relative;
  z-index: 1;
  overflow: hidden;
  min-height: 530px;
  transition: 0.7s;
  min-width: 250px;
}

.solution_cards_box .solution_card:hover {
  background: #309df0;
  color: #fff;
  transform: scale(1.1);
  z-index: 9;
}

.solution_cards_box .solution_card:hover::before {
  background: rgb(85 108 214 / 10%);
}

.solution_cards_box .solution_card:hover .solu_title h3,
.solution_cards_box .solution_card:hover .solu_description p {
  color: #fff;
}
.buts{
  font-size: 15px;
}
@media (max-width:1400px) {
  .solu_description {
  margin-right: -100px;
    
  }
}
@media (max-width:1400px) {
  .buts {
   margin-right: -70px;
    font-size: 10px;
    padding-right: 60px;
    padding-left: -80px;
    margin-left: -10px;
    
  }
}
@media (max-width:1400px) {
  .buts1 {
   margin-right: -70px;
    font-size: 10px;
    padding-right: 65px;
    padding-left: -80px;
    margin-left: -22px;
    
  }
}
@media (max-width:1400px) {
  .buts2 {
   margin-right: -70px;
    font-size: 10px;
    padding-right: 65px;
    padding-left: -80px;
    margin-left: -22px;
    
  }
}
@media (max-width:1400px) {
  .buts3 {
   margin-right: -70px;
    font-size: 10px;
    padding-right: 65px;
    padding-left: -80px;
    margin-left: -25px;
    
  }
}

.solution_cards_box .solution_card:before {
  content: "";
  position: absolute;
  background: rgb(85 108 214 / 5%);
  width: 170px;
  height: 400px;
  z-index: -1;
  transform: rotate(42deg);
  right: -56px;
  top: -23px;
  border-radius: 35px;
}

.solution_cards_box .solution_card:hover .solu_description button {
  background: #fff !important;
  color: #309df0;
}

.solution_card .so_top_icon {
}

.solution_card .solu_title h3 {
  color: #212121;
  font-size: 1.3rem;
  margin-top: 13px;
  margin-bottom: 13px;
}


.solution_card .solu_description p {
  font-size: 15px;
  margin-bottom: 15px;
}

.solution_card .solu_description button {
  border: 0;
  border-radius: 15px;
  background: linear-gradient(
    140deg,
    #42c3ca 0%,
    #42c3ca 50%,
    #42c3cac7 75%
  ) !important;
  color: #fff;
  font-weight: 500;
  font-size: 1rem;
  padding: 5px 16px;
}

.our_solution_content h1 {
  text-transform: capitalize;
  margin-bottom: 1rem;
  font-size: 2.5rem;
}
.our_solution_content p {
}

.hover_color_bubble {
  position: absolute;
  background: rgb(54 81 207 / 15%);
  width: 100rem;
  height: 100rem;
  left: 0;
  right: 0;
  z-index: -1;
  top: 16rem;
  border-radius: 50%;
  transform: rotate(-36deg);
  left: -18rem;
  transition: 0.7s;
}

.solution_cards_box .solution_card:hover .hover_color_bubble {
  top: 0rem;
}

.solution_cards_box .solution_card .so_top_icon {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: #fff;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.solution_cards_box .solution_card .so_top_icon img {
  width: 40px;
  height: 50px;
  object-fit: contain;
}

/*start media query*/
@media screen and (min-width: 320px) {
  .sol_card_top_3 {
    position: relative;
    top: 0;
  }

  .our_solution_category {
    width: 100%;
    margin: 0 auto;
  }

  .our_solution_category .solution_cards_box {
    flex: auto;
  }
}
@media only screen and (min-width: 768px) {
  .our_solution_category .solution_cards_box {
    flex: 1;
  }
}
@media only screen and (min-width: 1024px) {
  .sol_card_top_3 {
    position: relative;
    top: -3rem;
  }
  .our_solution_category {
    width: 50%;
    margin: 0 auto;
  }
}

//////

.collapsible {
}

.collapsible:after {
  color: white;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.content {
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: #ffffff;
}
.service_read_more_btn {
  border: 0;
  border-radius: 100px;
  cursor: pointer;
  background: linear-gradient(
    140deg,
    #42c3ca 0%,
    #42c3ca 50%,
    #42c3cac7 75%
  ) !important;
  color: #fff;
  font-weight: 500;
  font-size: 1rem;
  padding: 5px 16px;
}
/* #b_readmore2 {
  display: none;
} */

@media (max-width:1400px) {
  .service-img {
    display: contents;
  }
  .mail_your_cv {
    margin-bottom: 85px;
  }
}
